<div class="item-wraper">
	<div class="card" style="width: 18rem;">
		<%= link_to products_path do %>
		  	<img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
		  	<div class="card-body">          
	      		<h5 class="card-title">Carrots</h5>
	  		</div>
	  	<% end %>
  </div>
  

  <div class="card" style="width: 18rem;">
  	<%= link_to products_path do %>
		<img class="card-img-top" src="http://cache.marieclaire.fr/data/photo/w1000_c17/i14a/149022506.jpg">
		<div class="card-body">
			<h5 class="card-title">Turnips</h5>
  		</div>
  	<% end %>
  </div>
  <div class="card" style="width: 18rem;">
  	<%= link_to products_path do %>
	  <img class="card-img-top" src="http://www.grupocatala.com/images/fondos/tomate.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Tomatoes</h5>
  	</div>
  	<% end %>
  </div>
  <div class="card" style="width: 18rem;">
  	<%= link_to products_path do %>
	  	<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Pommes_de_terre_Monalisa.png/1200px-Pommes_de_terre_Monalisa.png" alt="Card image cap">
	  	<div class="card-body">
      		<h5 class="card-title">Potatoes</h5>
  		</div>
  	<% end %>
  </div>
  <div class="card" style="width: 18rem;">
  	<%= link_to products_path do %>
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/aubergine_legume_decouvrir.jpg" alt="Card image cap">
	  	<div class="card-body">
      		<h5 class="card-title">Eggplants</h5>
  		</div>
  	<% end %>
  </div>
  <div class="card" style="width: 18rem;">
  	<%= link_to products_path do %>
	  <img class="card-img-top" src="http://www.marecettesante.com/blog/wp-content/uploads/2015/06/celeri-rave-defi-legumes-21-jours-recette-sante.jpg" alt="Card image cap">
		<div class="card-body">
	    	<h5 class="card-title">Celery</h5>
  		</div>
  	<% end %>
  </div>
  <div class="card" style="width: 18rem;">
  	<%= link_to products_path do %>
	  <img class="card-img-top" src="https://i.skyrock.net/2501/91542501/pics/3254523796_1_3_o9eBe9qy.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Green Beans</h5>
  	</div>
  <% end %>
  </div>
  <div class="card" style="width: 18rem;">
  	<%= link_to products_path do %>
	  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjEGJQNeIjaYJo3ajAhhqQZOdquhX3KZwik_BCV9yRbcITcuC8Cw" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Apples</h5>
  	</div>
  <% end %>
  </div>

</div>
