<p id="notice"><%= notice %></p>

<h1>Carottes</h1>


 <!-- HERE COMES MY GRID LINE TO REPEAT -->
<% @products.each do |product| %>
  <div class="gd-container">
    <div class="item perso">
      <div class="sub-item">
        <%= image_tag product.profile_pic %>
      </div>
      <div class="sub-item">
        <p class="name"><%= product.owner_name %> <span class="distance"><i class="fas fa-map-marker-alt"></i> <%= product.distance %></span></p>
        <p><%= product.description %></p>
      </div>
    </div>
    <div class="item buy">
      <%= link_to product do%>
        <i class="fas fa-shopping-basket fit-sz"></i>
      <% end %>
    </div>
    <div class="item big-price"><%= product.price_corrected %></div> 
    <div class="item price"><%= product.price_theoric %></div>
    <div class="item"><i class="fas fa-road"></i> <%= product.impact %></div>
</div>
<% end %>

<!-- END OF THE GRID LINE -->
<br>

<%= link_to 'New Product', new_product_path %>
